/*
This file is part of MARKETNET.

MARKETNET is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.

MARKETNET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with MARKETNET. If not, see <https://www.gnu.org/licenses/>.
*/

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 500px;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;
}

    #table-wrapper table thead th .text {
        position: absolute;
        top: -20px;
        z-index: 2;
        height: 20px;
        width: 35%;
    }

td.dynamicExporterFieldIcon img {
    max-height: 50px;
}

td.dynamicExporterFieldIcon.dynamicExporterNumber {
    color: #016201;
    font-weight: bold;
    font-size: 24px;
}

td.dynamicExporterFieldIcon.dynamicExporterAlfa {
    color: #0085ff;
    font-weight: bold;
    font-size: 24px;
}
