/*
This file is part of MARKETNET.

MARKETNET is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.

MARKETNET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with MARKETNET. If not, see <https://www.gnu.org/licenses/>.
*/

div#filterModal table tr td.dynamicExporterFieldIcon {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

div#filterModal #table-scroll {
    height: 400px;
    overflow: auto;
    margin-top: 20px;
}

div#filterModal div.form-row {
    margin-right: 5px;
    margin-left: 5px;
}

    div#filterModal div.form-row.bottomFilterWindow div.col:nth-child(1) {
        max-width: 10%;
    }

div#filterModal div.card {
    max-width: 250px;
}

div#sortModal table tr td.dynamicExporterFieldIcon {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}
