/*
This file is part of MARKETNET.

MARKETNET is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.

MARKETNET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with MARKETNET. If not, see <https://www.gnu.org/licenses/>.
*/

div#loginScreen {
    height: 100%;
    width: 100%;
    display: block;
}

    div#loginScreen img {
        max-height: 100%;
        max-width: 100%;
    }

    div#loginScreen div#loginScreenModal h5#loginScreenModalLabel {
        width: 50%;
    }

        div#loginScreen div#loginScreenModal h5#loginScreenModalLabel div.row div.col:nth-child(1) {
            max-width: 26% !important;
        }

        div#loginScreen div#loginScreenModal h5#loginScreenModalLabel div.row div.col:nth-child(2) {
            max-width: 80% !important;
        }

    div#loginScreen div#loginScreenModal button#loginModalSubmit img {
        height: 30px;
        padding-right: 5px;
    }

    div#loginScreen div#loginScreenModal div.modal-footer {
        justify-content: space-between !important;
    }

        div#loginScreen div#loginScreenModal div.modal-footer h6 {
            color: red;
            visibility: hidden;
        }
