div.logoContainer {
    width: 333px;
    height: 60px;
    overflow: hidden;
}

    div.logoContainer img.logo {
        width: 500px;
        height: 500px;
        margin: -220px 0 0 -85px;
    }

@media (min-width: 1920px) {
    .css-19r6kue-MuiContainer-root {
        max-width: 1920px !important;
    }
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-15uku2i-MuiPaper-root-MuiAppBar-root
div.MuiContainer-root.MuiContainer-maxWidthXl.css-19r6kue-MuiContainer-root
div.MuiToolbar-root.MuiToolbar-regular.css-1cndkqf-MuiToolbar-root
div.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap.css-1083xa6-MuiTypography-root {
    min-width: 333px;
}
