div#packagingWizard input[type="number"] {
    display: inline;
    width: 30%;
}

div#packagingWizard input[type="text"] {
    display: inline;
    width: 30%;
}

div#packagingWizard tr.detailPackage {
    background: #16191c;
    margin-left: 25px;
}

    div#packagingWizard tr.detailPackage td {
        padding-top: 0;
        padding-bottom: 0;
    }

        div#packagingWizard tr.detailPackage td:nth-child(1) {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 50px;
        }

div#packagingWizard button {
    margin-left: 5px;
}

div#packagingWizard div.form-row div.col:nth-child(1) div.form-row div.col:nth-child(1) {
    max-width: 25%;
}

div#packagingWizard div.form-row div.col:nth-child(2) div.form-row div.col:nth-child(1) {
    max-width: 12%;
}

div.palletToolbar {
    display: inline;
}

    div.palletToolbar select {
        display: inline;
        max-width: 20%;
    }

div#packagingWizard div#palletModal input {
    display: inherit;
    width: 100%;
}

div#packagingWizard div.dropdown {
    display: inline;
}
