/*
This file is part of MARKETNET.

MARKETNET is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.

MARKETNET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with MARKETNET. If not, see <https://www.gnu.org/licenses/>.
*/

div#packagingWizard tr.detailPackage {
    background: #16191c;
    margin-left: 25px;
}

    div#packagingWizard tr.detailPackage td {
        padding-top: 0;
        padding-bottom: 0;
    }

        div#packagingWizard tr.detailPackage td:nth-child(1) {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 50px;
        }

div.palletToolbar {
    display: block;
    width: 100%;
}

    div.palletToolbar select {
        display: inline;
        max-width: 75%;
    }

div#packagingWizard div#palletModal input {
    display: inherit;
    width: 100%;
}

div#packagingWizard div.dropdown {
    display: inline;
}

div#packagingWizard div#detailsButtonsContainer {
    width: 100%;
}

    div#packagingWizard div#detailsButtonsContainer div#detailsButtons {
        position: absolute;
        right: 10px;
    }

        div#packagingWizard div#detailsButtonsContainer div#detailsButtons div.col:nth-child(1) {
            max-width: 300px;
            min-width: 300px;
        }

        div#packagingWizard div#detailsButtonsContainer div#detailsButtons div.col:nth-child(2) {
            max-width: 150px;
            min-width: 150px;
        }

        div#packagingWizard div#detailsButtonsContainer div#detailsButtons div.col:nth-child(3) {
            max-width: 200px;
            min-width: 200px;
        }

        div#packagingWizard div#detailsButtonsContainer div#detailsButtons div.col:nth-child(4) {
            max-width: 200px;
            min-width: 200px;
        }

div#packagingWizard div#packagedButtonsContainer {
    width: 100%;
}

    div#packagingWizard div#packagedButtonsContainer div#packagedButtons {
        position: absolute;
        right: 10px;
    }

        div#packagingWizard div#packagedButtonsContainer div#packagedButtons div.col:nth-child(1) {
            max-width: 250px;
            min-width: 250px;
            display: block;
        }

        div#packagingWizard div#packagedButtonsContainer div#packagedButtons div.col:nth-child(2) {
            max-width: 200px;
            min-width: 200px;
        }

        div#packagingWizard div#packagedButtonsContainer div#packagedButtons div.col:nth-child(3) {
            max-width: 200px;
            min-width: 200px;
        }
