div#packagingWizard input[type="number"] {
    display: inline;
    width: 40%;
}

div#packagingWizard tr.detailPackage {
    background: #16191c;
    margin-left: 25px;
}

    div#packagingWizard tr.detailPackage td {
        padding-top: 0;
        padding-bottom: 0;
    }

        div#packagingWizard tr.detailPackage td:nth-child(1) {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 50px;
        }

div#packagingWizard button {
    margin-left: 5px;
}
