div#tabProduct textarea {
    margin-bottom: 20px;
}

div.col.formInputTag {
    max-width: 100px;
}

div.mw-10 {
    max-width: 10%;
}

div.mw-15 {
    max-width: 15%;
}

div#tabProduct div#productRelationsVeritalTabs div.col:nth-child(1) {
    max-width: 250px;
}
