div#buttomBottomFormContainter {
    background-color: #343a40;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    padding-right: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: white;
}

div#buttomBottomForm {
    /*position: absolute;*/
    /* bottom: 10px; */
    /* right: 10px; */
    width: 80%;
    margin-left: 20%;
}

    div#buttomBottomForm > div.form-row {
        margin-bottom: 10px;
    }

    div#buttomBottomForm button {
        margin-right: 10px;
        float: right;
    }

div#buttomSaleOrderForm div.form-row.salesOrderTotals div.col {
    max-width: 200px;
}

div#tabSaleOrder div#salesOrderDiscounts table tbody tr td.icon {
    padding: 0;
}

    div#tabSaleOrder div#salesOrderDiscounts table tbody tr td.icon img {
        height: 50px;
    }

div#tabSaleOrder div.advancedSearch div.form-row div.col:nth-child(1) {
    max-width: 25%;
}

div#tabSaleOrder div.advancedSearch div.form-row div.col:nth-child(2) {
    max-width: 25%;
}

div.tableOverflowContainer {
    display: block;
    height: 430px;
    overflow-y: scroll;
}

div.tableOverflowContainer2 {
    height: 490px;
}

div.tableOverflowContainer3 {
    height: 720px;
}
