/*
This file is part of MARKETNET.

MARKETNET is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.

MARKETNET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with MARKETNET. If not, see <https://www.gnu.org/licenses/>.
*/

/* SEARCH */

div#tabSalesDeliveryNotes div.form-row div.col:nth-child(1) {
    max-width: 25%;
}

div#salesDeliveryNoteAdvancedSearch.advancedSearch {
    padding-left: 0px !important;
}

    div#salesDeliveryNoteAdvancedSearch.advancedSearch div.form-row div.col:nth-child(1) {
        min-width: 200px;
    }

    div#salesDeliveryNoteAdvancedSearch.advancedSearch div.form-row div.col:nth-child(2) {
        min-width: 200px;
    }

    div#salesDeliveryNoteAdvancedSearch.advancedSearch div.form-row div.col:nth-child(3) {
        min-width: 300px;
    }

/* FORM */
