div#buttomBottomForm {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

    div#buttomBottomForm > div.form-row {
        margin-bottom: 10px;
    }

    div#buttomBottomForm button {
        margin-right: 10px;
        float: right;
    }

    div#buttomSaleOrderForm div.form-row.salesOrderTotals div.col {
        max-width: 200px;
    }

div#tabSaleOrder div#salesOrderDiscounts table tbody tr td.icon {
    padding: 0;
}

    div#tabSaleOrder div#salesOrderDiscounts table tbody tr td.icon img {
        height: 50px;
    }
