/*
This file is part of MARKETNET.

MARKETNET is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.

MARKETNET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with MARKETNET. If not, see <https://www.gnu.org/licenses/>.
*/

div#settingsModal input[type=date].form-control {
    max-width: 40%;
    display: inline;
}

div#settingsModal input[type=time].form-control {
    max-width: 25%;
    display: inline;
    margin-left: 15px;
}

div#settingsModal input[type=checkbox].form-check-input {
    margin-left: 1%;
}

div#settingsModal label.checkbox-label {
    margin-left: 3%;
}

div#settingsModal div#accuntingSettings div.form-row div.col div.custom-switch {
    margin-top: inherit;
}
