/*
This file is part of MARKETNET.

MARKETNET is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.

MARKETNET is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with MARKETNET. If not, see <https://www.gnu.org/licenses/>.
*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
    height: 100%;
}

div#root {
    height: 100%;
}

div#splashScreen {
    height: 100%;
    background: rgb(42, 44, 50);
}

    div#splashScreen > img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 100%;
    }

div#errorScreen {
    height: 100%;
    background: rgb(59, 84, 161);
}

    div#errorScreen h1 {
        margin-left: 20%;
        color: white;
        font-family: MONOSPACE;
    }

    div#errorScreen p {
        margin-left: 20%;
        color: white;
        font-family: MONOSPACE;
    }

    div#errorScreen div#errorScreenHeaderBar {
        background-color: #343a40;
        margin-bottom: 10%;
    }

    div#errorScreen div#errorScreenHeader {
        width: 500px;
        height: 200px;
        overflow: hidden;
    }

        div#errorScreen div#errorScreenHeader img {
            width: 600px;
            height: 500px;
            margin: -148px 0 0 -42px;
        }

    div#errorScreen div.form-row div.col:nth-child(1) {
        max-width: 25%;
    }

    div#errorScreen img.errorImage {
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div#errorScreen div.form-row div.col:nth-child(2) {
        margin-right: 5%;
    }

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /*top: 100%;*/
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

div.formRowRoot > div.form-row {
    margin-right: 0px;
}

div.formRowRoot > div.menu > div.form-row {
    margin-right: 0px;
}

/* SEARCHES */

div.seachContainer {
    width: 100%;
    height: 50px;
}

div.search {
    position: absolute;
    right: 10px;
}

    div.search button.btn.btn-danger {
        padding: 0;
        margin-left: 8px;
    }

        div.search button.btn.btn-danger img {
            max-height: 40px;
        }

div.advancedSearch {
    padding-left: 20% !important;
    margin-bottom: 10px;
}

    div.advancedSearch input[type="date"] {
        max-width: 180px;
    }

    div.advancedSearch div.advancedSearchContent {
        width: 100%;
        height: 75px;
    }

        div.advancedSearch div.advancedSearchContent div.form-row {
            position: absolute;
            right: 10px;
        }

p.errorMessage {
    color: red;
    font-weight: bold;
}

div#root div#renderTab div.menu {
    background-color: #000000ad;
    color: white;
}

    div#root div#renderTab div.menu h1 {
        margin-left: 20px;
    }

    div#root div#renderTab div.menu > button {
        margin-left: 20px;
        margin-bottom: 5px;
    }

    div#root div#renderTab div.menu > div.form-row > div.col > button {
        margin-left: 20px;
        margin-bottom: 5px;
    }

.pl-50 {
    padding-left: 50% !important;
}

/* CHECKBOX SWITCHES ON FORM ROWS */

div.form-row div.col div.custom-switch {
    margin-top: 11%;
    padding-left: 50px;
}

/* BADGES */

div.bagdes span.badge {
    margin-left: 5px;
}

/* BOOTSTRAP BUTTONS WITH IMAGES */

button.btn.btnImg {
    margin-left: 10px;
}

    button.btn.btnImg img {
        width: 35px;
        margin: -10px;
        margin-right: 0px;
    }

.titleHr {
    margin: 0;
}

.form-row > .col, .form-row > [class*=col-] {
    padding-left: 7px;
}

div.mt-2-5-mb-2-5 {
    margin-top: 2.5% !important;
    margin-bottom: 2.5%;
}
